@font-face {
  font-family: 'MuseoSans';
  src: url("/assets/fonts/MuseoSansRegular/MuseoSansRegular.ttf");
}

@font-face {
  font-family: 'MuseoSans';
  src: url("/assets/fonts/MuseoSansItalic/MuseoSansItalic.ttf");
  font-style: italic;
}

@font-face {
  font-family: 'MuseoSans';
  src: url("/assets/fonts/MuseoSansBlack/MuseoSansBlack.ttf");
  font-weight: 900;
}

@font-face {
  font-family: 'MuseoSans';
  src: url("/assets/fonts/MuseoSansBlackItalic/MuseoSansBlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'MuseoSans';
  src: url("/assets/fonts/MuseoSansBold/MuseoSansBold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: 'MuseoSans';
  src: url("/assets/fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'MuseoSans';
  src: url("../fonts/MuseoSansMedium");
  font-weight: 500;
}

@font-face {
  font-family: 'MuseoSans';
  src: url("/assets/fonts/MuseoSansMediumItalic/MuseoSansMediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'MuseoSans';
  src: url("/assets/fonts/MuseoSansLight/MuseoSansLight.ttf");
  font-weight: 100;
}

@font-face {
  font-family: 'MuseoSans';
  src: url("/assets/fonts/MuseoSansLightItalic/MuseoSansLightItalic.ttf");
  font-weight: 100;
  font-style: italic;
}