.certificates {
  .list {
    .certificate {
      text-align: center;
      margin: 10px auto;
    }
  }
  @include lg-block {
    .list {
      @include row-flex;
      .certificate {
        text-align: center;
        @include col;
        @include size(3)
      }
    }
  }
}