@font-face {
  font-family: 'MuseoSans';
  src: url("/assets/fonts/MuseoSansRegular/MuseoSansRegular.ttf");
}

@font-face {
  font-family: 'MuseoSans';
  src: url("/assets/fonts/MuseoSansItalic/MuseoSansItalic.ttf");
  font-style: italic;
}

@font-face {
  font-family: 'MuseoSans';
  src: url("/assets/fonts/MuseoSansBlack/MuseoSansBlack.ttf");
  font-weight: 900;
}

@font-face {
  font-family: 'MuseoSans';
  src: url("/assets/fonts/MuseoSansBlackItalic/MuseoSansBlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'MuseoSans';
  src: url("/assets/fonts/MuseoSansBold/MuseoSansBold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: 'MuseoSans';
  src: url("/assets/fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'MuseoSans';
  src: url("/assets/fonts/MuseoSansMedium/MuseoSansMedium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: 'MuseoSans';
  src: url("/assets/fonts/MuseoSansMediumItalic/MuseoSansMediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'MuseoSans';
  src: url("/assets/fonts/MuseoSansLight/MuseoSansLight.ttf");
  font-weight: 100;
}

@font-face {
  font-family: 'MuseoSans';
  src: url("/assets/fonts/MuseoSansLightItalic/MuseoSansLightItalic.ttf");
  font-weight: 100;
  font-style: italic;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'MuseoSans', sans-serif !important;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-full {
  padding-left: 15px;
  padding-right: 15px;
}

.btn {
  padding: 10px 0;
  width: 100%;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-size: 0.75rem;
}

.btn--red {
  background-color: #ff0000;
  color: #fff;
}

.btn--red:hover {
  background-color: #cc0000;
}

.btn--red-outline {
  border: 2px solid #ff0000;
  color: #ff0000;
  display: inline-block;
  width: 100px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  margin-top: 10px;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.btn--red-outline:hover {
  background-color: #ff0000;
  color: #fff;
}

.btn--blue {
  background-color: #0a68b0;
  color: #fff;
}

.btn--blue:hover {
  background-color: #074b80;
}

.btn--blue-outline {
  background: #fff;
  border: 2px solid #0a68b0;
  color: #0a68b0;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  margin-top: 10px;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.btn--blue-outline:hover,
.btn--blue-outline.active {
  background-color: #0a68b0;
  color: #fff;
}

.swiper-container {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  width: 100%;
  background: #fff;
}

.swiper-slide {
  outline: 1px solid #dce2e7;
  padding: 10px;
  height: auto;
  margin: 1px 0;
}

.swiper-buttons {
  height: 44px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
}

.swiper-buttons > div {
  border: 1px solid #dce2e7;
  position: relative;
  margin-top: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 44px;
  height: 44px;
  background-size: 20px;
}

.swiper-buttons > div:hover {
  background-color: #0a68b0;
  background-size: 30px;
}

.swiper-buttons .swiper-button-prev:hover {
  background-image: url("/assets/icons/next-invert.svg");
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.swiper-buttons .swiper-button-next:hover {
  background-image: url("/assets/icons/next-invert.svg");
}

h1,
h2 {
  font-weight: 300;
}

header {
  padding-bottom: 10px;
}

header .menu {
  margin-right: 0;
  margin-left: 15px;
  position: relative;
}

header .menu .menu_list_wrapper {
  border-radius: 0 25px 0 0;
  display: none;
  top: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  background: #f0f0f0;
  width: 300px;
  border: 1px solid #dce2e7;
  text-align: left;
}

header .menu .menu_list_wrapper h4 {
  color: #3e4043;
}

header .menu .menu_list_wrapper .close {
  position: absolute;
  right: 0;
  width: 38px;
  top: 0;
  height: 38px;
  background: #0a68b0 url("/assets/icons/close.svg") center no-repeat;
  background-size: 20px;
  border-radius: 38px;
  cursor: pointer;
}

header .menu .menu_list_wrapper h4 {
  padding: 0 10px;
  margin: 10px 0;
}

header .menu .menu_list_wrapper .menu_list ul {
  padding: 0;
  background: #fff;
  list-style: none;
  margin: 0;
  max-height: 195px;
  overflow-y: scroll;
}

header .menu .menu_list_wrapper .menu_list ul a {
  padding: 10px 0 10px 10px;
  color: #5e626a;
  text-decoration: none;
  display: block;
}

header .menu .menu_list_wrapper .menu_list ul a:hover {
  background: #1a89de;
  color: #fff;
}

header .cities {
  border: 1px solid #dce2e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  padding-left: 20px;
  position: relative;
}

header .cities:before {
  position: absolute;
  content: '';
  width: 30px;
  height: 100%;
  left: 0;
  background: url("/assets/icons/placeholder.png") no-repeat center;
  top: -1px;
}

header .cities .list {
  z-index: 4;
  display: none;
  background-color: #f1f2f2;
  border: 1px solid #dce2e7;
  position: absolute;
  top: 100%;
  width: calc(100% + 2px);
  left: -1px;
  text-align: left;
}

header .cities .list .search_city {
  padding: 10px;
  border-bottom: 1px solid #dce2e7;
}

header .cities .list .search_city input {
  background: #fff;
  border: 1px solid #dce2e7;
  padding: 10px;
}

header .cities .list ul {
  padding: 0;
  background: #fff;
  list-style: none;
  margin: 0;
  max-height: 195px;
  overflow-y: scroll;
}

header .cities .list ul a {
  display: block;
  padding: 10px 0 10px 30px;
}

header .cities .list ul a:hover {
  background: #1a89de;
  color: #fff;
}

header .cities .list ul a {
  color: #5e626a;
  text-decoration: none;
}

header .cities span {
  padding: 5px;
  display: block;
}

header .cities span:nth-child(1) {
  width: 160px;
  text-align: left;
}

header .cities span:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 10px;
  border-left: 1px solid #dce2e7;
}

header .cities span:nth-child(2) img {
  margin: auto;
}

.mobile_header_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #2d2e2f;
  padding: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #efefef;
}

.mobile_header_top .menu {
  margin-left: 0;
}

.mobile_header_top .menu_list_wrapper {
  right: auto;
  left: 0;
}

.mobile_header_top .menu_btn {
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile_header_top .menu_btn span {
  margin: auto 5px;
  text-transform: uppercase;
}

.mobile_header_top .cities {
  font-weight: 300;
}

.desktop_header_top {
  text-align: center;
}

.desktop_header_top .cities,
.desktop_header_top .menu_btn {
  display: none;
}

.desktop_header_top .logo {
  padding: 10px 0;
}

.desktop_header_top .logo img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  max-width: 302px;
}

.desktop_header_top .phone {
  margin: 10px 0;
}

.desktop_header_top .phone a {
  text-decoration: none;
  color: #3e4043;
  font-weight: 900;
  position: relative;
  font-size: 1.875rem;
  margin-left: 25px;
}

.desktop_header_top .phone a:before {
  content: '';
  height: 34px;
  display: block;
  width: 30px;
  position: absolute;
  background: url("../icons/big-telephone.svg") no-repeat center;
  background-size: contain;
  left: -34px;
}

.desktop_header_top .time_work {
  font-weight: 300;
}

.breadcrumbs {
  background: url("/assets/img/section_1_back.jpg") no-repeat center;
  background-size: cover;
  overflow: hidden;
  height: 38px;
}

.breadcrumbs .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
}

.breadcrumbs a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 10px;
  position: relative;
  margin-right: 16px;
  white-space: nowrap;
}

.breadcrumbs a.active,
.breadcrumbs a:hover {
  text-decoration: underline;
}

.breadcrumbs a:after {
  content: '';
  background: url("/assets/icons/next-invert.svg") no-repeat center;
  background-size: contain;
  width: 20px;
  display: block;
  height: 1rem;
  top: 0.7rem;
  right: -20px;
  position: absolute;
}

.breadcrumbs a:last-child:after {
  content: none;
}

.section_1 {
  background: url("/assets/img/section_1_back.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
  position: relative;
  padding: 10px 0;
}

.section_1 > .container {
  color: #fff;
}

.section_1 .section_1_name {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.section_1 .section_1_title {
  padding: 0 10px;
}

.section_1 .hidden {
  display: none;
}

.section_1 .btn {
  max-width: 300px;
}

.section_1 .btn:hover {
  background: #fff;
  color: #125a91;
  font-weight: 700;
}

.section_3 .list {
  display: none;
}

.section_3 .item {
  outline: 1px solid #dce2e7;
  padding: 10px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 7.5px;
  margin-right: 7.5px;
  width: calc(50% - 15px);
  margin: 0;
  width: 50%;
}

.section_3 .item img {
  margin: 20px 20px 0 0;
}

.section_3 .item img.hover {
  display: none;
}

.section_3 .item .number {
  position: absolute;
  top: 20px;
  right: 20px;
  font-weight: 900;
  color: #e2e2e2;
}

.section_3 .item:hover {
  background: #0a68b0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  color: #fff;
}

.section_3 .item:hover img.simple {
  display: none;
}

.section_3 .item:hover img.hover {
  display: block;
}

.section--full-width {
  margin-top: 20px;
}

.section--full-width .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -7.5px;
  margin-right: -7.5px;
}

.section--full-width .item {
  width: 100%;
}

.section_4 .container {
  position: relative;
}

.section_4 .swiper-container {
  border: none;
}

.section_4 .swiper-slide {
  padding: 0;
  outline: none;
  position: relative;
}

.section_4 .swiper-slide .price {
  position: absolute;
  background: #0a68b0;
  margin-top: 20px;
  padding: 10px;
  color: #fff;
  font-weight: 700;
}

.section_4 .swiper-slide img {
  width: 100%;
  max-height: 390px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section_4 .swiper-slide .section_4_link {
  margin-top: 5px;
}

.section_4 .swiper-slide .section_4_link a {
  padding: 10px;
  background: #f00;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.section_4 .swiper-slide a {
  display: block;
  width: 100%;
  text-align: center;
  color: #fff;
}

.section_4 .swiper-slide:hover .section_4_link a {
  background: #0a68b0;
}

.section_5 .notebook {
  display: none;
}

.section_6 .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section_6 .item__text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.section_6 .item__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section_6 .item__title h4 {
  margin: 0 0 5px 15px;
}

.section_6 .item__title img {
  margin-bottom: 5px;
}

.section_6 .divider {
  background: #dce2e7;
  height: 1px;
  width: 100%;
  margin-bottom: 1px;
}

.section_6 .list {
  display: none;
}

.section_7 {
  background: url("/assets/img/section_7_back.jpg") no-repeat center;
  background-size: cover;
  padding: 30px 10px 20px;
  color: #fff;
  text-align: center;
  position: relative;
}

.section_7:before {
  content: '';
  position: absolute;
  border: 20px solid #f00;
  border-bottom-color: transparent;
  top: 0;
  left: calc(50% - 20px);
}

.section_7 h2 {
  font-weight: 700;
  margin-bottom: 5px;
}

.section_7 h3 {
  font-weight: 500;
  margin-top: 0;
}

.section_7 a {
  color: #fff;
}

.section_7 button {
  margin-top: 10px;
}

.section_7 input {
  width: 100%;
  padding: 10px;
  background: none;
  border: 1px solid #fff;
  color: #fff;
  margin-bottom: 10px;
  font-weight: 300;
}

.section_7 input::-webkit-input-placeholder {
  font-weight: 300;
  color: #fff;
}

.section_7 input::-moz-placeholder {
  font-weight: 300;
  color: #fff;
}

.section_7 input:-ms-input-placeholder {
  font-weight: 300;
  color: #fff;
}

.section_7 input::-ms-input-placeholder {
  font-weight: 300;
  color: #fff;
}

.section_7 input::placeholder {
  font-weight: 300;
  color: #fff;
}

.section_7 .btn {
  max-width: 150px;
}

.section_8 #map {
  height: 50vh;
}

.contacts {
  margin-bottom: 30px;
}

.contacts .wrapper {
  border: 1px solid #dce2e7;
}

.contacts .cities__item {
  background: #f2f4f6;
  padding: 1px 15px;
  border: 1px solid #dce2e7;
  border-right: none;
  cursor: pointer;
}

.contacts .cities__item .info {
  display: none;
}

.contacts .info {
  display: block;
}

.contacts .cities__item--active {
  background: #2072b1;
  color: #fff;
  cursor: default;
  border: none;
}

.contacts .cities__item--active a {
  color: #fff;
}

.contacts .cities__item--active a[href^="tel:"] {
  text-decoration: none;
}

.contacts .cities__item--active .info {
  display: block;
}

.contacts .contacts__map {
  height: 40vh;
}

.contacts .contacts__map .map {
  height: 100%;
  display: none;
}

.contacts .contacts__map .map--active {
  display: block;
}

.command .men .man {
  text-align: center;
  overflow: hidden;
}

.command .men .man img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.certificates .list .certificate {
  text-align: center;
  margin: 10px auto;
}

.franchise {
  padding-bottom: 30px;
}

.franchise .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -7.5px;
  margin-right: -7.5px;
}

.franchise .info .text,
.franchise .info .warning {
  width: calc(50% - 15px);
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 7.5px;
  margin-right: 7.5px;
}

.franchise .warning {
  margin-top: 1rem;
  background: #f2f4f6;
  padding: 1px 30px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.franchise .warning h4 {
  text-transform: uppercase;
}

.franchise .photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -7.5px;
  margin-right: -7.5px;
}

.franchise .photos .photo {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 7.5px;
  margin-right: 7.5px;
  width: calc(33.33333% - 15px);
}

.franchise .photos .photo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.trusted .swiper-container {
  box-shadow: none;
}

.trusted .swiper-slide {
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.trusted .swiper-slide img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
  margin: auto;
}

.monitoring {
  padding-bottom: 30px;
}

.monitoring .info {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -7.5px;
  margin-right: -7.5px;
}

.monitoring .info .text,
.monitoring .info .warning {
  width: calc(50% - 15px);
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 7.5px;
  margin-right: 7.5px;
}

.monitoring .info .btn--no_width {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  text-decoration: none;
  margin: 30px 0;
  display: block;
}

.monitoring .warning {
  margin-top: 1rem;
  background: #f2f4f6;
  padding: 1px 30px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.monitoring .warning h4 {
  text-transform: uppercase;
}

.monitoring .warning p {
  margin-left: 20px;
  position: relative;
}

.monitoring .warning p:before {
  position: absolute;
  content: '';
  margin-left: -30px;
  width: 20px;
  height: 100%;
  background: url("/assets/icons/check-mark.svg") no-repeat left top;
  background-size: contain;
}

.monitoring .photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -7.5px;
  margin-right: -7.5px;
}

.monitoring .photos .photo {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 7.5px;
  margin-right: 7.5px;
  width: calc(33.33333% - 15px);
}

.monitoring .photos .photo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.monitoring .demo {
  background: #f2f4f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.works .container {
  padding-bottom: 20px;
  position: relative;
}

.works .swiper-container {
  box-shadow: none;
}

.works .swiper-slide {
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f2f4f6;
  border: 1px solid transparent;
}

.works .swiper-slide:hover {
  border: 1px solid #0a68b0;
}

.works .swiper-slide .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  margin: auto;
}

.works .swiper-slide img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 200px;
}

.works .swiper-slide .text {
  padding-left: 10px;
}

.works .swiper-slide:hover a.lb:after {
  display: block;
}

.works .swiper-buttons {
  position: absolute;
  right: 15px;
  top: -5px;
  margin: 0;
}

.gallery .images {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -7.5px;
  margin-right: -7.5px;
}

.gallery .image {
  padding: 10px 0;
  height: 300px;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 7.5px;
  margin-right: 7.5px;
  width: calc(50% - 15px);
}

.gallery .image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.gallery .image:nth-child(5n),
.gallery .image:nth-child(5n-1),
.gallery .image:nth-child(5n-2) {
  width: calc(33.33333% - 15px);
}

.filter {
  background: #f6f6f6;
  padding: 5px 0 20px;
}

.filter .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.filter .btn--filter {
  width: auto;
  background: #fff;
  padding: 20px;
  border: 1px solid #dce2e7;
  margin-right: 10px;
}

.filter .btn--filter.active,
.filter .btn--filter:hover {
  background: #0a68b0;
  border-color: #0a68b0;
  color: #fff;
}

.section_4--filter .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section_4--filter .swiper-slide {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 7.5px;
  margin-right: 7.5px;
  width: calc(25% - 15px);
  margin-bottom: 20px;
}

.product .product-_info-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product .buttons--grey {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product .buttons--grey span {
  margin: auto;
}

.product .btn--grey {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  padding: 10px;
  background: #dce2e7;
  width: calc(50% - 2.5px);
  margin-bottom: 5px;
}

.product .btn--full {
  width: 100%;
}

.product .modificators {
  background-color: #f0f3f5;
  padding: 1px 10px;
}

.product .modificators button {
  background: #fff;
  border: 1px solid #dce2e7;
  width: 100%;
  padding: 10px;
  position: relative;
}

.product .modificators button:before {
  display: inline-block;
  content: '';
  background: url("/assets/icons/check-mark-grey.svg") no-repeat center;
  background-size: contain;
  width: 1rem;
  height: 1rem;
  margin-right: 5px;
  top: 2px;
  position: relative;
}

.product .modificators button.active {
  background: #0a68b0;
  border: 1px solid #0a68b0;
  color: #fff;
}

.product .modificators button.active:before {
  background-image: url("/assets/icons/check-mark-white.svg");
}

.product .price-block {
  background-color: #f0f3f5;
  text-align: center;
  padding: 1px 0;
}

.product .price-block h4 {
  margin-top: 0;
}

.product .price-block .price {
  color: #0a68b0;
  font-weight: 900;
  font-size: 24px;
}

.product .btn--blue-outline {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  margin: 10px auto;
  display: block;
}

.product .advantages {
  border: 1px solid #f0f3f5;
  padding: 10px;
  margin-bottom: 10px;
}

.product .advantages .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
}

.product .advantages .item > * {
  margin: auto 0;
}

.product .advantages .item img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.product .characteristics .buttons .btn {
  width: 100%;
  display: inline-block;
}

.product .characteristics .texts > div {
  display: none;
}

.product .characteristics .texts > div.active {
  display: block;
}

.product .links .btn {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}

.product .modificators + .d-flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer {
  border-top: 2px solid #0a68b0;
  text-align: center;
  padding-bottom: 10px;
}

footer img {
  margin: auto;
  width: 100%;
  max-width: 302px;
}

footer a {
  text-decoration: none;
  color: #5a6062;
}

footer .dev-in {
  font-weight: 100;
}

footer .dev-in p {
  margin: 0;
}

footer .pr-akula {
  font-weight: 700;
  max-width: 302px;
  font-size: 1.625rem;
}

footer .pr-akula .pr-akula-pr {
  color: #ff0000;
}

.section--blue {
  padding: 10px 0;
  background: #f3f6f9;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a.lb {
  position: relative;
  display: block;
  height: 100%;
}

a.lb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

a.lb:after {
  background: rgba(0, 0, 255, 0.5) url("/assets/icons/zoom.svg") no-repeat center;
  background-size: 50px;
  content: '';
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

a.lb:hover:after {
  display: block;
}

@media screen and (min-width: 780px) {
  .section--full-width .item {
    width: 50%;
  }

  .section--full-width .item .number {
    top: 10px;
    right: 10px;
  }

  .filter .list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .product .product-_info-top .info > .d-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .product .product-_info-top .info > .d-flex .flex-center {
    width: 80%;
    padding-right: 10px;
  }

  .product .buttons--grey {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
    width: 20%;
  }

  .product .buttons--grey .btn--grey {
    width: 100%;
  }

  .product .modificators {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .product .modificators h4 {
    width: 100%;
  }

  .product .modificators p {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 0;
    margin-right: 10px;
  }

  .product .price-block {
    background-color: transparent;
    text-align: left;
  }

  .product .price-block h4 {
    margin-top: 1rem;
  }

  .product .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .product .characteristics .buttons .btn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .product .modificators + .d-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 960px) {
  .section--full-width .item {
    width: 25%;
  }

  .product .product-_info-top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .product .product-_info-top .swiper {
    width: 25%;
  }

  .product .product-_info-top .swiper .swiper-slide {
    padding: 0;
    margin: 0;
  }

  .product .product-_info-top .info {
    width: 75%;
    padding-left: 20px;
  }

  .product .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .product .links .btn {
    display: inline-block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: 10px;
  }

  .product .links button.btn {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
}

@media screen and (min-width: 1100px) {
  .mobile_header_top {
    display: none;
  }

  .desktop_header_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .desktop_header_top .cities {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .desktop_header_top .menu_btn {
    display: block;
    margin-right: 0;
    margin-left: 0;
    background: #f0f0f0;
    padding: 10px;
    border-radius: 40px;
    height: 48px;
    width: 48px;
    cursor: pointer;
  }

  .desktop_header_top .time_work {
    margin-left: 15px;
    margin-right: 0;
  }

  .desktop_header_top > * {
    margin: auto;
  }

  .desktop_header_top .phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0;
  }

  .desktop_header_top .phone a {
    font-size: 1.5rem;
    margin: auto;
  }

  .desktop_header_top .phone a:before {
    top: -3px;
  }

  .desktop_header_top .logo {
    margin-left: 0;
  }

  .section_1 {
    padding: 50px 0;
  }

  .section_1 .hidden {
    display: inline;
  }

  .section_1 .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -7.5px;
    margin-right: -7.5px;
  }

  .section_1 .text {
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 7.5px;
    margin-right: 7.5px;
    width: calc(50% - 15px);
    text-align: left;
    z-index: 2;
  }

  .section_1 .section_1_title {
    padding: 0;
    width: calc(100% + 140px);
    font-size: 2.5rem;
  }

  .section_1 .photo {
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 7.5px;
    margin-right: 7.5px;
    width: calc(50% - 15px);
    position: absolute;
    height: 100%;
    top: 10px;
    margin-right: 0;
    right: 0;
    background: url("/assets/img/section_1_right.jpg") no-repeat center;
    background-size: cover;
  }

  .section_2 .swiper-buttons {
    display: none;
  }

  .section_2 {
    padding-bottom: 20px;
  }

  .section_3 .swiper-container {
    display: none;
  }

  .section_3 .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -7.5px;
    margin-right: -7.5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  }

  .section_3 .swiper-buttons {
    display: none;
  }

  .section_3 {
    padding-bottom: 20px;
  }

  .section_4 {
    padding-bottom: 20px;
  }

  .section_4 .swiper-buttons {
    position: absolute;
    right: 15px;
    top: 0;
    margin: 0;
  }

  .section_5 {
    padding-bottom: 30px;
  }

  .section_5 iframe {
    width: 70%;
    height: 70%;
    margin: auto;
  }

  .section_5 .notebook {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 7.5px;
    margin-right: 7.5px;
    width: calc(50% - 15px);
    background: url("/assets/img/macbook.png") no-repeat center;
    background-size: 100%;
    position: absolute;
    top: -10%;
    right: 0;
    width: 62%;
    height: 120%;
  }

  .section_5 .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }

  .section_5 .text {
    background-color: #fff;
    border: 1px solid #dce2e7;
    padding: 0 50px 0 10px;
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 7.5px;
    margin-right: 7.5px;
    width: calc(50% - 15px);
  }

  .section_6 .swiper-container {
    display: none;
  }

  .section_6 {
    padding-bottom: 30px;
  }

  .section_6 .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -7.5px;
    margin-right: -7.5px;
  }

  .section_6 .list .item {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 7.5px;
    margin-right: 7.5px;
    width: calc(50% - 15px);
    width: calc(50% - 20px);
    margin: 10px 0;
    border: 1px solid #dce2e7;
    padding: 10px;
  }

  .section_6 .list .item img.hover {
    display: none;
  }

  .section_6 .list .item:hover {
    outline: 2px solid #0a68b0;
  }

  .section_6 .list .item:hover img.hover {
    display: block;
  }

  .section_6 .list .item:hover img.simple {
    display: none;
  }

  .section_6 .list .item:nth-child(2n) {
    margin-left: 10px;
  }

  .section_6 .list .item:nth-child(2n+1) {
    margin-right: 10px;
  }

  .section_6 .swiper-buttons {
    display: none;
  }

  .section_7 .inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10px 0;
  }

  .section_7 .inputs p {
    margin: 0 5px;
  }

  .contacts .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .contacts .contacts__cities {
    border-right: 2px solid #2072b1;
  }

  .contacts .contacts__map {
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
  }

  .command .men {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -7.5px;
    margin-right: -7.5px;
  }

  .command .men .man {
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 7.5px;
    margin-right: 7.5px;
    width: calc(33.33333% - 15px);
  }

  .command .men .man img {
    width: 80%;
  }

  .certificates .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -7.5px;
    margin-right: -7.5px;
  }

  .certificates .list .certificate {
    text-align: center;
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 7.5px;
    margin-right: 7.5px;
    width: calc(25% - 15px);
  }

  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 10px;
  }

  footer .container > * {
    margin: auto;
  }
}